.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: normal;

    padding: 1.5rem;

    border-radius: 5px;
    background-color: rgba(37, 36, 36, 0.80);
    color: var(--secondary-color-1);
}

.loginContainer h2 {
    width: fit-content;

    margin: 0 auto 20px;

    font-weight: lighter;
    letter-spacing: 3px;
}

.loginContainer h6 {
    width: fit-content;

    margin: 10px auto 0;

    font-size: 10px;
}

.linkProperties{
    text-decoration: none;
}

.fieldProperties {
    margin: 0 auto;
    padding: var(--space-sm);
}

.fieldProperties label {
    display: block;
    text-align: left;

    margin: 0 0 2px 2px;

    font-size: var(--text-sm);
    font-weight: lighter;
    letter-spacing: 1px;
}

.fieldProperties input {
    height: 30px;

    padding-left: 10px;
    padding-right: 10px;

    background-color: rgba(255, 252, 249, 0.4);
    border-radius: 100px;
    font-size: 16px;
    font-weight: lighter;
    color: var(--primary-color-5);
}

.fieldProperties input::placeholder {
    color: var(--primary-color-5);
}

.loginBtn {
    padding: 0 var(--space-lg);
    margin-top: 40px;
    margin-bottom: 10px;

    background-color: var(--secondary-color-4);

    cursor: pointer;
}

@media (min-width: 641px) {
    .loginContainer {
        justify-content: center;

        width: 371px;
        height: 384px;
    }

    .loginContainer form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .loginBtn {
        width: 280px;
    }

    .loginContainer input {
        width: 280px;
    }
}