.card {
    position: relative;
    overflow: hidden;
    background-color: var(--primary-color-1);

    width: 100%;
    height: 26.375rem; /*422px*/
    justify-content: center;
    text-align: center;
    column-gap: var(--15px);
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardOverlay {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: var(--15px);

    background-color: var(--transparent-black-07);
    color: var(--primary-color-1);

    transition: background-color var(--transition-normal);
}

.card:hover .cardOverlay {
    background-color: var(--transparent-grey-095);
}

.cardPriceStatus {
    margin-bottom: var(--5px);
}

.cardAddress {

    margin-top: var(--40px);
    margin-bottom: var(--5px);

    font-weight: lighter;
    font-size: var(--h4-size);
}

.cardFeatures {
    color: var(--primary-color-1);
}




@media (min-width: 641px) {
    .card {
        width: 100%;
        max-width: 20.625rem; /*330px*/
    }

    .cardAddress {
        margin-top: var(--25px);
    }
}

.addedLabel {
    position: absolute;
    top: 0px;
    left: 4.6875rem; /*75px*/
    background-color: var(
            --secondary-color-5,
            var(--secondary-color-3)
    );
    color: var(--almost-black);
    font-weight: bold;
    padding: var(--5px) var(--40px);
    border-radius: var(--5px);
    z-index: 10;

    transform: rotate(0deg) translateX(-50%);
}