.property-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
    justify-content: center;
    align-items: start;
    margin: 20px;
}
.allPropertiesBtn{
    width: 450px;
    background-color: var(--secondary-color-4);
    margin-bottom: 5%;
}
.linkProperties{
    text-decoration: none;
}
.viewButton{
    visibility: visible;
}

.notViewButton{
    visibility: hidden;
}
.messageButtonProperties{
    margin-top: 5%;
}
@media(min-width:641px) {
    .property-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(330px, 1fr));
        row-gap: 50px;
        column-gap: 40px;
        padding: 20px;
        justify-content: center;
        align-items: start;

        max-width: 1300px;
        margin: 0px auto;
    }

    .cardsProperties{
        display: flex;
        flex-direction: column;
    }


    .allPropertiesBtn{
        width: 450px;
        background-color: var(--secondary-color-4);
        margin-bottom: 5%;
    }

    .messageBtn {
        width: 265px;
        background-color: var(--primary-color-1);
     }




}
@media(min-width:1000px) {
    .property-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        row-gap: 50px;
        column-gap: 40px;
        padding: 20px;
        justify-content: center;
        align-items: start;

        max-width: 1300px;
        margin: 0px auto;
    }

    .card__address {
        margin-top: 25px;
        margin-bottom: 5px;
        font-weight: lighter;
        font-size: 18px;
    }


}
