.card {
    position: relative;
    overflow: hidden;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 422px;

    Column-gap : 1rem;

    background-color: #e5e7eb;

}
.cardImage {
    object-fit: cover;
}

.cardOverlay {
    position: absolute;

    width: 100%;

    bottom: 0;
    left: 0;
    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.75);
    color: white;

    transition: background-color 0.3s ease;
}
.card:hover .cardOverlay {
    background-color: rgba(26, 26, 25, 0.95);
}
.cardPriceStatus {
    margin-bottom: 0.25rem;
}
.cardAddress {
    margin-top: 40px;
    margin-bottom: 5px;

    font-weight: lighter;
    font-size: 18px;
}
.cardFeatures {
    color: #d1d5db;
}
@media(min-width:641px) {
    .card {
        position: relative;
        overflow: hidden;
        justify-content: left;
        text-align: left;

        width: 330px;
        height: 422px;

        background-color: #e5e7eb;
    }

    .cardAddress {
        margin-top: 25px;
        margin-bottom: 5px;

        font-weight: lighter;
        font-size: 18px;
    }


}
