.main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    text-align: left;
    box-sizing: border-box;

    width: 100%;
    height: fit-content;

    background-color: var(--primary-color-2);
    color: var(--primary-color-5);
}

/*form properties*/
.form {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;

    width: 80%;
    height: 100%;
}

.field {
    display: flex;
    flex-direction: column;

    max-width: 31.25rem; /*500px*/
    width: 100%;
    height: fit-content;

    gap: var(--10px);
}

.form select, .form input {
    width: 100%;
    height: fit-content;

    padding: var(--10px);
    padding-inline: var(--20px);

    background-color: var(--primary-color-5);
    color: var(--secondary-color-1);
    border-radius: 100px;
    font-size: var(--h4-size);
}


/*form buttons*/
.formButtons {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: var(--15px);
}

.addCharacteristicButton {
    min-width: 9.375rem; /*150px*/
    width: 100%;
    height: var(--40px);

    margin-bottom: var(--40px);
    margin-inline: 0;

    background-color: var(--secondary-color-5);
    color: var(--primary-color-5);
    border-radius: 100px;
    border: none;
}

.clearAllButton {
    padding: 0px;
    padding-inline: var(--20px);

    background-color: var(--error-color);
    color: var(--secondary-color-1);
    border: none;

    font-weight: lighter;
}
