.filterGroupWrapper {
    width: 100%;
    padding: var(--15px) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterGroupTitle {
    margin-bottom: var(--15px);
    font-size: var(--h1-size);
    font-weight: 500;
    color: var(--primary-color-5);
    text-align: center;
}

.burgerButton {
    display: block;
    background-color: var(--secondary-color-5, #f0c040);
    color: var(--primary-color-5);
    padding: var(--10px) var(--20px);
    border: none;
    font-size: var(--h1-size);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    border-radius: var(--radius-md);
    z-index: 1000;
    align-self: center;
    margin-bottom: var(--15px);
}

.filterGroupTitle {
    display: none;
}

.filterContainer {
    display: none;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--primary-color-4);
    padding: var(--25px) var(--15px);
    border-radius: var(--radius-l);
    box-shadow: 0 6px 12px var(--transparent-black-03);
}

.filterContainer.show {
    display: flex;
}

.filterButton {
    background-color: var(--primary-color-5);
    color: var(--secondary-color-1);
    padding: var(--15px) var(--20px);
    border-radius: var(--radius-l);
    display: flex;
    align-items: center;
    gap: var(--10px);
    cursor: pointer;
    justify-content: space-between;
    transition: background-color var(--transition-normal);
    user-select: none;
    border: none;
    font-size: var(--text-base);
    width: 100%; /*240px*/
    box-sizing: border-box;
    margin-bottom: var(--15px);
}

.filterButton:hover {
    background-color: var(--primary-color-4);
}

.toggle {
    width: var(--40px);
    height: var(--20px);
    background-color: var(--primary-color-2);
    border-radius: 62rem; /*999px*/
    position: relative;
    transition: background-color var(--transition-normal);
    flex-shrink: 0;
}

.toggleCircle {
    width: var(--15px);
    height: var(--15px);
    border-radius: 50%;
    background-color: var(--primary-color-3, var(--primary-color-4));
    position: absolute;
    top: 3px;
    left: 2px;
    transition:
        left var(--transition-normal),
        background-color var(--transition-normal);
}

.active .toggleCircle {
    left: 24px;
    background-color: var(--secondary-color-5);
}

@media (min-width: 1024px) {
    .burgerButton {
        display: none;
    }

    .filterGroupTitle {
        display: block;
    }

    .filterContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: var(--20px);
        flex-wrap: nowrap;
        width: 100%;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        align-items: flex-start;
    }

    .filterGroupWrapper {
        width: 100vw;
        padding-inline: var(--40px);
        padding-bottom: 0px;
        color: #1976d2;
    }

    .filterButton {
        width: 20%;
        margin-left: 0;
    }
}
