.backgroundNavProperties{
    background-image: url('../../../public/backgrounds/tandil-us.webp');
    background-size: 100%;
    position: relative;
    align-content: center;
    background-position: center;
    z-index: 1;

    width: 100%;
    height: 400px;
}

.backgroundNavProperties::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.6);
}

.infoImageProperties {
    display: flex;
    flex-direction: column;
    z-index: 2;
    position: relative;

    width: fit-content;

    margin-left: 36%;
    margin-top: 25px;

    color: var(--primary-color-1);
    font-weight: bold;
}

.h5Properties{
    display: flex;

    width: fit-content;

    margin-left: 60px;

    font-weight: 800;
    white-space: nowrap;
}

.generalInfoProperties{
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 50px;
    margin-bottom: 20px;
    gap: 8%;
}

.missionAndVisionProperties{
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.infoProperties{
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 370px;

    gap: 15px;

    color: var(--primary-color-5);
}

.imgRealStateProperties{
    justify-self: center;

    width: 1315px;
    height: 315px;

    margin-bottom: 20px;

    background-color: #FADA4D;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Empieza 20px más abajo */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Termina en su posición original */
    }
}

.container {
    display: flex;
    align-items: center;

    max-width: 1100px;

    gap: 5rem;
    margin-left: 60px;
    padding: 2rem;

    font-family: "Georgia", serif;
}

.imageContainer {
    animation: fadeInUp 0.8s ease-out forwards;
}

.textContainer {
    flex: 1;
    opacity: 0;

    animation: fadeInUp 0.8s ease-out 0.2s forwards;
}

.image {
    object-fit: cover;
    display: block;

    max-width: 100%;
    height: auto;

    padding: 5px;

    background-color: #fff;
}

.title {
    margin-bottom: 1.5rem;

    font-size: 2.25rem;
    font-weight: 400;
    color: #222;
    white-space: nowrap;
}

.description {
    margin-bottom: 1rem;

    font-size: 1.1rem;
    line-height: 1.7;
    color: #444;
}

@media (max-width: 768px) {

    .backgroundNavProperties {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        height: 300px;
        }

    .container {
        flex-direction: column;
        text-align: center;

        gap: 2rem;
    }

    .h5Properties{
        margin-left: 0;
    }

    .infoImageProperties{
        align-items: center;

        width: fit-content;

        margin-left: 10px;
    }

    .infoImageProperties h5{
        font-size: 16px;
    }

    .generalInfoProperties{
        flex-direction: column;
        align-items: center;

        gap: 30px;
    }

    .infoProperties{
        text-align: justify;

        width: 300px;

        font-size: 14px;
    }

    .infoProperties h1{
        text-align: center;
        white-space: nowrap;
        font-size: 28px;
    }

    .missionAndVisionProperties{
        gap: 30px;
    }

    .textContainer {
        align-items: center;
        text-align: justify;

        width: 300px;

        animation-delay: 0s;
    }

    .imageProperties{
        visibility: hidden;

        width: 0;

        margin: -100px;
        padding: 0;
    }

    .underline{
        border-bottom: black 1px solid;
    }

    .container{
        display: flex;

        margin-left: 0;
        margin-top: 0px;
    }

    .title {
        text-align: center;

        font-size: 1.8rem;
        white-space: collapse;
    }
}
