.card {
    position: relative;
    width: 100%;
    height: 422px;
    overflow: hidden;
    background-color: #e5e7eb;
    justify-content: left;
    text-align: left;
}

.card__image {
    object-fit: cover;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    transition: background-color 0.3s ease;
}

.card:hover .card__overlay {
    background-color: rgba(0, 0, 0, 0.9);
}

.card__price-status {
    margin-bottom: 0.25rem;
}

.card__address {
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: lighter;
    font-size: 18px;
}

.card__features {
    color: #d1d5db;
}