.viewInfoAdress {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 70%;
    white-space: nowrap;
}

.mainAdressProperties {
    display: flex;
    flex-direction: row;
    margin-top: var(--20px);
    margin-bottom: var(--20px);
    box-sizing: border-box;
}

.mainAdressProperties button,
.editButtonProperties {
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding-bottom: var(--20px);
}

.editProperties {
    display: flex;
    flex-direction: row;
    width: min-content;
    gap: var(--20px);
}

.inputProperties {
    font-size: var(--30px);
    font-family: var(--font-weight-normal);
}
