@import url(../ui/fonts.ts);
@import url(../ui/globals.css);

.layout-propiedades {
  display: flex;
  gap: 2rem;
  padding: 2rem; /* opcional para dar espacio general */
}

.container-filter-properties {
  flex-basis: 30%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 30px; /* separación desde el borde izquierdo */
  box-sizing: border-box; /* para que el padding no afecte ancho */
}

.filter-input-container {
  display: flex;
  flex-direction: column;
}

.filter-input-container label {
  color: #33322f;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.input-valor-maximo {
  background-color: #33322f;
  color: #f1e9d2;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  outline: none;
  width: 100%; /* para que tome el ancho disponible */
  max-width: 200px; /* limitar el ancho máximo */
}

.input-valor-maximo::placeholder {
  color: #ccc3aa;
}

.input-valor-maximo:focus {
  box-shadow: 0 0 0 2px #a7956f;
}

.container-listado-propiedades {
  flex-basis: 70%;
  max-width: 70%;
  padding-left: 1rem; /* separación del filtro */
  box-sizing: border-box;
}

