.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    margin-top: 120px;

    color: var(--secondary-color-1);
}

.titleProperties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70%;

    margin: 30px auto;
    gap: var(--15px);

    letter-spacing: 2px;
    text-align: center;
}
.titleProperties h1 {
    width: fit-content;

    letter-spacing: 3px;
}
.titleProperties h4 {
    width: fit-content;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;

    max-width: 20rem;
    width: 100%;

    margin: 0 var(--50px);
    padding: 20px;

    border-radius: var(--10px);
    background-color: var(--transparent-black-07);
    border: none;
}


.fieldProperties {
    margin: var(--15px) auto;
}
.fieldProperties label {
    display: block;
    text-align: left;

    margin-bottom: var(--5px);

    font-size: var(--h6-size);
    letter-spacing: 1px;
}

.fieldProperties input {
    width: 100%;
    height: var(--35px);

    padding-inline: var(--10px);

    background-color: var(--transparent-white-07);
    border-radius: 100px;
    font-size: var(--h6-size);
    color: var(--primary-color-5);
}

.fieldProperties input::placeholder {
    color: var(--primary-color-5);
}

.loginBtn {
    width: 14.0625rem; /*225px*/

    margin-top: var(--30px);
    margin-bottom: var(--10px);

    background-color: var(--secondary-color-4);
}

@media (min-width: 641px) {
    .loginContainer {
        max-width: 28rem;
    }
    .titleProperties {
        width: 50%;
    }
    .fieldProperties {
        width: 90%;
    }
}