/*HOME properties*/
.page{
  background-color: var(--primary-color-1);
  color: var(--primary-color-5);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navImageProperties{
  width: 100%;
  height: 750px;
  background-image: url("/backgrounds/homeBackground.jpg");
}

.presentationProperties{
  width: 80%;
  height: fit-content;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.messageBtn {
  width: 265px;
  background-color: var(--primary-color-1);
}

.mainCardsGridProperties{
  width: 100%;
}

.allPropertiesBtn{
  width: 450px;
  background-color: var(--secondary-color-5);
}

