.navImageProperties{
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    background-image: url("/backgrounds/homeBackground.jpg");
    position: absolute;
}

.searchBarProperties{
    padding-top: 20%;
    position: relative;
}

