.page {
    background-color: var(--primary-color-1);
    color: var(--primary-color-5);
    width: 100%;
    position: relative;
    z-index: 10;
}
.mapaInteractivo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    padding: 20px 0;
}

.mapaInteractivo iframe {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.mainAdressProperties {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.viewInfoAdress {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 70%;
    white-space: nowrap;
}

.mediaCarouselProperties {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 600px;
    margin-bottom: 20px;
}

.visible {
    visibility: visible;
}

.notVisible {
    visibility: hidden;
}

.infoCardProperties {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    width: max-content;
    min-width: 140px;
    height: 110px;
    padding: 10px;
    border: 1px solid var(--primary-color-5);
    border-radius: 10px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 20px;
    position: relative;
    z-index: 10;
    margin-right: 40px;
}

.inputProperties {
    font-size: 30px;
    font-family: var(--font-weight-normal);
    white-space: none;
}

.mainInfo {
    display: flex;
    flex-direction: row;
    gap: 70%;
    white-space: nowrap;
}

.mainInfoH1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 20px;
}

.askBtn {
    width: 340px;
    background-color: var(--secondary-color-4);
}

.cityProperties {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: var(--secondary-color-5);
    margin-inline: 40px;
    margin-top: 10px;
    white-space: nowrap;
}

.mainBoxesGridProperties {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
    gap: 20px;
}

.descriptionsProperties {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 880px;
    margin: 30px;
    margin-inline: 40px;
}

.descriptionsProperties div {
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.titleProperties {
    display: flex;
    flex-direction: row;
    height: 40px;
    gap: 20px;
    border-bottom: 1px solid var(--primary-color-5);
}

.dataGridProperties {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sectionProperties {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(10, max-content);
    grid-column-gap: 150px;
}

.itemProperties {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.itemProperties h5 {
    margin-left: 30px;
    white-space: wrap;
}

.buttonsProperties button {
    cursor: pointer;
}
/*PROPERTIE´S EMPTY FILE*/

.showProperties {
    visibility: visible;
}

.notShowProperties {
    visibility: hidden;
    width: 0;
    padding: 0;
    margin: 0;
    height: 0;
    position: absolute;
}

.adressProperties {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    border-bottom: #0a0a0a 1px solid;
    margin-left: 10px;
    gap: 10%;
}

.mainAdressProperties button,
.editButtonProperties {
    background-color: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    padding-bottom: 20px;
}

#imageIconoEditPhoto {
    display: flex;
    position: relative;
    margin-top: 35%;
    margin-right: 3%;
}

.cityProperties {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    color: var(--secondary-color-5);
    margin-inline: 40px;
    margin-top: 10px;
    white-space: nowrap;
}

.cityProperties button {
    padding-bottom: 40px;
}

.mainInfoPrice {
    margin-left: 34px;
    margin-top: 20px;
    width: fit-content;
}

.priceEditionProperties {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.editProperties {
    display: flex;
    flex-direction: row;
    width: min-content;
    gap: 20px;
}

.editInputProperties {
    width: 20px;
    font-size: 20px;
    text-align: center;
}

.ubicationEditProperties {
    display: flex;
    flex-direction: row;
    width: min-content;
    gap: 20px;
}

.btnSold {
    background-color: var(--primary-color-1);
}
