.mainInfo {
    display: flex;
    flex-direction: row;
    gap: 70%;
    white-space: nowrap;
}

.mainInfoH1 {
    display: flex;
    flex-direction: row;
    gap: var(--10px);
    margin-left: var(--20px);
}
