.page {
    background-image: url("/backgrounds/quieroVenderBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    padding-top: 10px;
    padding-bottom: 30px;
}

.formContainerProperties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
}
