/*only cards properties*/
.page {
    display: flex;
    flex-direction: column;
    justify-content: end;

    position: relative;
    overflow: hidden;

    max-width: 34.375rem; /*550px*/
    min-width: 21.875rem; /*350px*/
    width: 100%;
    height: 25.9375rem; /*415px*/

    cursor: pointer;
}

.cardBackground {
    object-fit: cover;
}

.detailsProperties {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    z-index: 100;

    height: 7.8125rem; /*125px*/
    width: 100%;

    padding-inline: var(--20px);

    background-color: var(--transparent-grey-085);
    color: var(--primary-color-1);

    transition: var(--normal-transition);
}

.detailsProperties:hover {
    background-color: var(--transparent-grey-095);
}

/*only grid properties*/
.grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

    max-width: 81.25rem; /*1300px*/

    gap: var(--25px);
    padding: var(--15px);
    margin: 0 auto;
}

.addedLabel {
    position: absolute;
    top: 0px;
    left: 4.6875rem; /*75px*/
    background-color: var(
        --secondary-color-5,
        var(--secondary-color-3)
    );
    color: var(--almost-black);
    font-weight: bold;
    padding: var(--5px) var(--40px);
    border-radius: var(--5px);
    z-index: 10;

    transform: rotate(0deg) translateX(-50%);
}




/*responsive for TABLET*/
@media (min-width: 768px) and (max-width: 1023px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);

        gap: var(--30px);
        column-gap: var(--50px);
    }
}

/*responsive for DESKTOP*/
@media (min-width: 1024px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(34.375rem/*550px*/, 1fr));
        align-items: start;

        column-gap: var(--40px);
        row-gap: var(--40px);
        padding: var(--30px);
    }

    .page {
        min-width: 34.375rem; /*550px*/
    }
}
