/*only cards properties*/
.page{
    position: relative;
    overflow: hidden;
    width: 550px;
    height: 415px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.cardBackground{
    object-fit: cover;
}

.detailsProperties{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 125px;
    width: 100%;
    text-align: left;
    padding-inline: 20px;
    z-index: 100;

    background-color: rgb(26,26,25, 0.85);
    color: var(--primary-color-1);
}

/*only grid properties*/
.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    padding: 20px;
}
