.navProperties{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: linear-gradient(
            to top,
            #16161600 0%,   /* 0% opacidad */
            #161616ff 95%   /* 100% opacidad */
    );
    height: 150px;
    width: 100%;
    color: rgb(253, 255, 226);
    gap: 20%;
}

.absoluteNav{
    z-index: 10000;
    position: absolute;
}

.staticNav{
    z-index: 10000;
    position: static;
}

.nameProperties{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    gap: 0;
}

.logoProperties{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    cursor: pointer;
}

.sectionProperties{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    gap: 30px;
    cursor: pointer;
    list-style-type: none;
    white-space: nowrap;
}

.sectionProperties li{
    font-size: 25px;
}

.sectionProperties a:hover{
    color: var(--secondary-color-5);
}

.sectionProperties a {
    text-decoration: none;
    color: var(--primary-color-1);
}

.sectionProperties li:hover{
    color: #FADA4D;
}

.iconoProperties{
    width: 35px;
    height: 35px;
    color: rgb(253, 255, 226);
}

.btnBurgerProperties{
    margin: 0;
    padding: 0;
    width: 0;
    visibility: hidden;
}

@media (max-width: 768px) {
    .navProperties{
        flex-direction: column;
        gap: 1px;
    }
    .btnBurgerProperties{
        visibility: visible;
        display: flex;
        margin-left: 25px;
        margin-top: -40px;
    }

    .btnBurgerProperties button{
        background-color: transparent;
        border-style: none;
    }

    .sectionProperties{
        flex-direction: column;
        gap: 20px;
        background-color: var(--primary-color-1);
        list-style-type: none;
        white-space: nowrap;
        width: fit-content;
        height: fit-content;
        margin-left: 25px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .logoProperties{
        margin: -20px;
        padding: 0;
        width: 0;
        visibility: hidden;
    }

    .openNav{
        visibility: visible;
    }

    .closeNav{
        visibility: hidden;
    }

    .sectionProperties a{
        color: var(--primary-color-4);
    }
}