/*main container*/
.searcher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--transparent-grey-065);
    padding: var(--10px);
    border-radius: var(--radius-md);
    max-width: 100%;
}

/*buttons group*/
.buttonGroup {
    display: flex;
    flex-direction: column;
    box-shadow: none;
}

/*individual button*/
.button {
    margin: var(--5px) auto;
    background-color: var(--transparent-white-07);
    border-radius: var(--radius-sm);
    color: var(--secondary-color-1);
    border: none;
    font-size: var(--h3-size);
    padding: var(--10px);
    cursor: pointer;
    transition: all var(--normal-transition);
    position: relative;
    outline: none;
    width: 100%;
    height: fit-content;
    line-height: 1;
    text-align: center;
}

.button:active {
    transform: scale(0.98);
    transition: all var(--fast-transition);
}

/*active button*/
.buttonActive {
    font-weight: bold;
    background-color: var(--secondary-color-5);
    color: var(--primary-color-5);
    transform: scale(1.02);
}

/*search container*/
.searchContainer {
    display: none;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*mobile for tablets*/
@media (min-width: 768px) {
    .searcher {
        width: 100%;
        max-width: 60%; /*640px*/
    }

    .buttonGroup {
        flex-direction: row;
    }

    .button {
        width: 30%;
        font-size: var(--h1-size);
        padding: var(--10px) var(--20px);
        height: fit-content;
        line-height: 1;
    }
}

/*mobile for desktop*/
@media (min-width: 1024px) {
    .searcher {
        max-width: 44rem; /* 702px */
        padding: var(--10px) var(--20px);
    }

    .button {
        font-size: var(--h5-size);
        padding: var(--15px) var(--20px);
        height: fit-content;
        line-height: 1;
    }

    .buttonGroup {
        box-shadow: var(--shadow-sm);
        gap: var(--20px);
    }

    .searchContainer {
        box-shadow: var(--shadow-md);
    }
}